.container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.link {
  font-weight: 500;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  img {
    width: 0.8rem;
    opacity: 0.9;
  }
}

.arrow-left {
  transform: rotate(180deg);
  margin-right: 0.5rem;
}

.arrow-right {
  margin-left: 0.5rem;
}
