.button {
  color: white;
  background: var(--main-color);
  padding: 0.2rem 0.5rem;
  display: flex;
  border-radius: 5px;
  transition: 0.2s;
  align-items: center;
  text-decoration: none;

  &:hover {
    color: white;
    background: var(--main-color-dark);
    font-weight: normal;
  }

  img {
    margin-right: 0.4rem;
    height: 1.2rem;
  }
}
