.app-container {
  font-family: "Montserrat", sans-serif;
}

.main {
  max-width: var(--site-width);
  margin: 0 auto;
  margin-top: 2 rem;
  padding: 1rem;
}

:global(body) {
  margin: 0;
  color: #333;
  background: var(--background-color);
  line-height: 1.5;
}

:global(a) {
  text-decoration: none;
  color: var(--color-black);

  &:hover {
    color: #111;
  }
}

:global(h1),
:global(h2),
:global(h3),
:global(h4),
:global(h5),
:global(h6) {
  font-weight: 500;
  color: #111;
}

:global(:root) {
  // --main-color: #6d5aff;
  --main-color: #548fff;
  --main-color-dark: #497de0;
  --secondary-color: #ffb74b;
  --color-black: #333;
  --color-black-light: #555;
  --color-gray: #6b6b6b;
  --shadow: 0 2px 4px #dee2e6;
  --border: 1px solid #ececec;
  --background-color: #f9fbfd;
  --border-color: #dfe6ec;
  --border-color-light: #edf2f8;
  --site-width: 55rem;
}
