.app-container {
  font-family: "Raleway", sans-serif;
}

.main {
  max-width: 52rem;
  margin: 0 auto;
  margin-top: 2 rem;
  padding: 1rem;
}

:global(body) {
  margin: 0;
  color: #222;
}

:global(a) {
  text-decoration: none;
  color: var(--color-black);
}

:global(:root) {
  // --main-color: #6d5aff;
  --main-color: #ff5454;
  --secondary-color: #ffb74b;
  --color-black: #222;
  --color-gray: #6b6b6b;
  --shadow: 0 2px 4px #dee2e6;
  --border: 1px solid #ececec;
}
