.title {
  font-weight: normal;
  margin: 3rem 0;
  display: inline-flex;
  position: relative;
  margin-bottom: 5rem;

  &:before {
    position: absolute;
    height: 1px;
    background: var(--main-color);
    left: 0;
    width: 60%;
    bottom: -1rem;
    content: "";
    opacity: 0.6;
  }
}
