.header {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  box-shadow: var(--shadow);
}

.inner-container {
  max-width: 52rem;
  height: 4rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-color);

  span {
    color: #222;
  }
}
